* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
/****************** INDEX ******************/
header {
  background-color: #35424a;
  border-bottom: 3px solid #9a5088;
}
.nav-container {
  color: white;
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
}
ul li {
  list-style-type: none;
  display: inline;
  padding: 1rem;
}
ul li a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 1.2rem;
  padding-left: 1rem;
}
span {
  color: #9a5088;
}
.selected-link {
  color: #9a5088;
}
nav ul li a:hover {
  color: #9a5088;
  font-weight: 800;
}
main {
  background-image: url(./assets/img/showcase.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main h2 {
  font-size: 3rem;
  line-height: 5rem;
}
main p {
  font-size: 1.2rem;
}
.section1 {
  background-color: #35424a;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.section1 h4 {
  font-size: 1.2rem;
  padding-left: 1rem;
}
.mail {
  height: 100%;
  display: flex;
  align-items: center;
}
#email {
  height: 50%;
  width: 12rem;
  margin-right: 0.2rem;
}
.btn {
  background-color: rgba(250, 43, 7, 0.89);
  border: none;
  color: rgba(255, 255, 255, 0.8);
  height: 50%;
  margin-right: 1rem;
  font-size: 0.7rem;
  width: 4rem;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.photos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 28vh;
  background-color: #eee;
}
.html5,
.css3,
.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.photos img {
  width: 4rem;
  margin-bottom: 0%;
}
.photos h2 {
  font-size: 1.2rem;
  font-weight: 800;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.photos p {
  font-size: 0.8rem;
  text-align: center;
}
.index__footer {
  background-color: #35424a;
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.index__footer p {
  font-size: 0.8rem;
  opacity: 0.8;
  padding-bottom: 0.4rem;
}
.index__footer img {
  height: 2rem;
  opacity: 0.8;
}

/*************** ABOUT **********************/
.about__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 68vh;
  background-color: #eee;
  padding: 1.5rem 2rem;
}
.about__section h2 {
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: 900;
}
.about__section p {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
.about__section--div-left {
  width: 65%;
}
.about__section--div-left p ~ p {
  background-color: #35424a;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 0.9rem;
  padding-left: 0.7rem;
  padding-right: 0.4rem;
}
.about__section--div-right {
  width: 30%;
  background-color: #35424a;
  height: 45%;
  padding: 1rem 0.9rem;
}
.about__section--div-right p {
  color: rgba(255, 255, 255, 0.8);
}
.about__section--div-right h2 {
  color: white;
}
/************* SERVICES  ********************/
.services__section {
  display: flex;
  /* align-items: stretch; */
  justify-content: space-between;
  height: 68vh;
  padding: 1rem 1rem 1rem 2rem;
  background-color: #eee;
}

.services__section div h2 {
  font-size: 1.5rem;
}
.services__section div p {
  font-size: 1rem;
  padding-top: 0.3rem;
}
.services__section--left {
  width: 70%;
  /* height: 100%; */
}
.services__section--left div {
  padding: 0.8rem 0.5rem 0.5rem 0.7rem;
  background-color: #d8d8d8ea;
  margin: 0.2rem;
}
.services__section--left h2 {
  padding-bottom: 0.4rem;
}
.services__section--right {
  background-color: #35424a;
  color: white;
  padding: 1rem 0.7rem 0.5rem 0.7rem;
  height: 70%;
  width: 25%;
}
.services__section--right h2 {
  padding-bottom: 1rem;
}
.services__section--right label {
  line-height: 1.5rem;
}
.services__section--right input,
textarea {
  width: 90%;
}
.services__section--right .button-submit {
  width: 4rem;
  height: 2rem;
  border: none;
  background-color: rgba(250, 43, 7, 0.89);
  color: white;
}
.services__section--right .button-submit:hover {
  cursor: pointer;
  transform: scale(1.2);
}
